// Home

@import "~styles/vars";

.Home
    display block
    min-width 100%
    height auto
    position absolute
    img
        display: block
        position relative
        left 50%
        transform translateX(-50%)
