// Header

@import "~styles/vars";

.Header
    border-bottom: 1px solid $black
    background-color $header
    h1
      margin 0
    ul
      margin: 0
      padding: 0
      li
        display: inline-block
        list-style-type: none
        margin: 0 5px
        &:first-of-type
            margin-left: 0
