// Loader

@import "~styles/vars";

.loader
    display block
    size 100%
    position fixed

.internal-loader
    @extend .loader
    background-color $black
    text-align center
    color: $white
    visibility: hidden
    opacity: 0
    z-index 1000

#main-loader
    @extend .loader
    background-color $primary
    text-align center
    color: $white
    z-index 1001
