<style src="styles/components/{{#camelize}}{{name}}{{/camelize}}.styl" lang="stylus" scoped></style>

<script>
    import store from "app/store"

    export default{
        name: "{{#camelize}}{{name}}{{/camelize}}",
        data(){
            return {}
        },
        props     : {},
        components: {},
        methods   : {},
        computed  : {},
        vuex      : {
            actions: {},
            getters: {}
        },
        store
    }
</script>

<template>
    <div class="{{#camelize}}{{name}}{{/camelize}}">

    </div>
</template>
