@import "core/grid"
@import "utils/mixins";
@import "utils/helpers";

//COLORS
$white = #fff
$black = #202020
$primary = #ef2052
$grey = #d6dcde

$background = #1c1f24
$header = $primary


//FONTS
$heading-font = "Monaco";
$text-font = "Monaco";
