<style src="styles/views/{{#camelize}}{{name}}{{/camelize}}.styl" lang="stylus"></style>

<script type="text/babel">
    export default{
        name: "{{#camelize}}{{name}}{{/camelize}}",
        data(){
            return {}
        },
        props     : {},
        components: {},
        methods   : {},
        computed  : {}
    }
</script>

<template>
    <div class="{{#camelize}}{{name}}{{/camelize}}"></div>
</template>
